.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.centered {
  text-align: center;
}

.day-container {
  text-align: center;
  margin-bottom: 20px;
}

.draggable-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.card {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.exercise-inputs, .notes-group, .button-container {
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.input-group label {
  width: 100px;
  margin-right: 10px;
}

.input-group input {
  flex: 1;
}

.notes-group label {
  display: block;
  margin-bottom: 5px;
}

.notes-group input {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container button {
  margin-bottom: 5px;
}

.move-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.move-buttons button {
  margin-right: 5px;
}

.move-buttons button:last-child {
  margin-right: 0;
}

.timer-container {
  margin-top: 20px;
  text-align: center;
}

.timer-small {
  margin-top: 10px;
  text-align: left;
}

.timer-small .time {
  font-size: 1rem;
}

.timer-small .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-small .button {
  margin: 0 5px;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.new-exercise-form {
  margin-top: 20px;
}

.new-exercise-form h3 {
  margin-bottom: 10px;
}

.new-exercise-form div {
  margin-bottom: 10px;
}

.new-exercise-form label {
  display: block;
  margin-bottom: 5px;
}

.new-exercise-form input, .new-exercise-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

/* Button styles */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-red {
  background-color: #e74c3c;
  color: white;
}

.btn-green-dark {
  background-color: #006400; /* Dark green color */
  color: white;
}

.btn-blue {
  background-color: #007bff; /* Blue color */
  color: white;
}

.text-left {
  text-align: left;
}